*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus{
    outline: none;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'Roboto', Helvetica, Arial, Sans-Serif;
}

.header-top {
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
}

.container-header {
    display: block;
    width: auto;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.row-header {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    padding: 20px 0;
}

.col-logo {
    z-index: 1;
}

.logo {
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
}

.logo-img {
    width: 40px;
    height: 39px;
       
}

.ul-menu{
    list-style: none;
}

.li-menu{
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 0 10px 0 0;
    cursor: pointer;
    font-weight: 300;
}

.word-menu {
    width: auto;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    pointer-events: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: .875rem;
    font-weight: inherit;
}

.col-singup {
    z-index: 1;
}

.open-account {
    padding: 10px 17px;
    cursor: pointer;
    font-size: .75rem;
    letter-spacing: 1.71px;
}

@media screen and (min-width: 1025px){
    .col-logo {
        max-width: 5%;
        flex: 0 0 5%;
    }
}

@media screen and (min-width: 1025px){
    .container-header {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 1025px){
    .logo-img {
        height: 39px;
    }
}

@media screen and (min-width: 1025px){
    .open-account {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0;
        line-height: 2.5rem;
        text-align: center;
    }
}