body {
    line-height: 1;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}



.header-top {
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    z-index: 25;
    font-family: roboto,helvetica,arial,sans-serif;    
}

.container-header {
    display: block;
    width: auto;
    max-width: 1200px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    float: none;
    
}

.header-top .row-header {
    padding: 20px 0;
}

.row-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.header-top .col-logo {
    z-index: 1;
}

.col-logo {
    align-self: center;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


.header-logo, .header-hide-logo {
    max-width: 100%;
}

.col-menu {
    align-self: center;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.ul-menu{
    list-style: none;
}

.li-menu{
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 0 10px 0 0;
    cursor: pointer;
    font-weight: 300;
    font-size: .875rem;
    color: #fff;
    
}

.li-menu:hover{
    color: #ffc709;
}

.li-menu::before {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ffc709;
    content: "";
    -webkit-transition: width .3s cubic-bezier(.165,.84,.44,1);
    -o-transition: width .3s cubic-bezier(.165,.84,.44,1);
    -moz-transition: width .3s cubic-bezier(.165,.84,.44,1);
    transition: width .3s cubic-bezier(.165,.84,.44,1);
}

.li-menu::after {
    position: absolute;
    top: 5px;
    right: 7px;
    width: 5px;
    height: 5px;
    border: 2px solid #ffc709;
    border-top: 0;
    border-left: 0;
    content: "";
    font-size: 1.5rem;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 20% 50%;
    -moz-transform-origin: 20% 50%;
    -ms-transform-origin: 20% 50%;
    -o-transform-origin: 20% 50%;
    transform-origin: 20% 50%;
    -webkit-transition: all .3s cubic-bezier(.165,.84,.44,1);
    -o-transition: all .3s cubic-bezier(.165,.84,.44,1);
    -moz-transition: all .3s cubic-bezier(.165,.84,.44,1);
    transition: all .3s cubic-bezier(.165,.84,.44,1);
}



.word-menu {
    width: auto;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
    
    cursor: pointer;
    pointer-events: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: .875rem;
    font-weight: inherit;
}

.word-menu:hover{
    z-index: 2;
    color: #ffc709;
    background: #000000;
}

.col-singup {
    position: relative;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.header-top .open-account {
    padding: 10px 17px;
    cursor: pointer;
    font-size: .75rem;
    letter-spacing: 1.71px;
    border: 2px solid #fff;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    font-family: roboto,helvetica,arial,sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s cubic-bezier(.165,.84,.44,1),border-color .3s cubic-bezier(.165,.84,.44,1);
}

.open-account:hover{
    color: #000000;
    background: #ffc709;
    border: 2px solid  #ffc709 ;
}

.header-top .col-singin{
    z-index: 1;
}

.col-singin {
    align-self: center;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    
}

.header-top .login{
    min-width: 6.8125rem;
}

.login {
    color: #fff;
    display: inline;
    width: 100%;
    padding-bottom: 6px;    
    cursor: pointer;
    text-decoration: none;
    background-image: -webkit-linear-gradient(transparent -webkit-calc(100% - 1px),#ffc709 5px);
    background-image: -moz-linear-gradient(transparent -moz-calc(100% - 1px),#ffc709 5px);
    background-image: -o-linear-gradient(transparent calc(100% - 1px),#ffc709 5px);
    background-image: linear-gradient(transparent calc(100% - 1px),#ffc709 5px);
    background-position-y: -4px;
    background-repeat: no-repeat;
}

.login:hover{
    background-image: -webkit-linear-gradient(transparent -webkit-calc(100% - 2px),#ffc709 5px);
    background-image: -moz-linear-gradient(transparent -moz-calc(100% - 2px),#ffc709 5px);
    background-image: -o-linear-gradient(transparent calc(100% - 2px),#ffc709 5px);
    background-image: linear-gradient(transparent calc(100% - 2px),#ffc709 5px);
}
.hydrated {
    visibility: inherit;
}

.sec {
    background: #121212;
    visibility: inherit;
    max-width: 100%;
    width: 100%;
    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    height: 665px;
}

.princ {
    background-image: url(https://web.xpi.com.br/wp-content/uploads/2022/07/home-desktop.jpg);
    background-size: contain;
    background-position-x: center;
    background-color: #000 !important;
    margin-top: 84px;
    background-repeat: no-repeat;
    width: 100%;
    height: 665px;;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.conteu{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.grids {
    margin: 0 -8px;
    display: block;
    width: 100%;
}

.soma-grid-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-align: stretch;
    align-items: stretch; 
    height: 400px;
}

.gridcol {
    padding: calc(8px);
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    min-width: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-content: stretch;
    min-height: 1px;
    margin: 0px;
    box-sizing: border-box;
}

.leftcol {
    height: 384px;
    padding-bottom: 100px;
}
.left-header{
    margin-bottom: 40px;
    
}

.title {
    color: rgb(251, 193, 5);
    margin-bottom: 24px;
    font-weight: 800;
    font-family: helvetica;
    display: block;
}


.CDB {
    line-height: 62px;
    font-weight: bold;
}

.subtitle{
    line-height: 24px;
    visibility: inherit;
    display: block;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
}

.cta-btn a {
    text-decoration: none;
}

.soma-btn:hover{
    background-color: rgb(255, 231, 153);
    border-color: rgb(255, 231, 153);
    color: rgb(18, 18, 18);
}

.soma-btn {
    display: inline-flex;
    min-width: 108px;
    max-width: 182.11px;
    height: 48px;
    font-size: 13px;
    padding: 1px 6px;
    position: relative;
    text-align: center;
    border: none;
    box-sizing: border-box;
    outline: none;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(251, 193, 5);
    letter-spacing: 1px;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(18, 18, 18);
    line-height: 1;
    transition-property: background-color;
    transition-delay: 0s;
    transition-duration: 100ms;
    top: -70px;
}

.disclaimer {
    position: inherit;
    top: 240px;
    box-sizing: border-box;
}

.soma-container{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.h-disclaimer-text {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    top: -71px;
}

.sobre-xp {
    width: 100%;
}

.xp-container{
    max-width: 1200px;
}

.sobre-xp-main {
    margin: 24px;
}

:host(.soma-container){
    max-width: 100%;
    margin: 0px;
}

.header-xp{
    margin-bottom: 40px;
}

.stl-h1{
    margin-bottom: 24px;
    color: #121212;
    font-size: 32px;
    display: block;
    font-weight: 600;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 10px;
    letter-spacing: -1px;

}

.stl-h2 {
    color: #1f1f1f;
    line-height: 150%;
    display: block;
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 10px;
}

#divHelp .quest.info {
    right: 20px;
}

#divHelp .help {
    position: fixed;
    z-index: 1;
}

#divHelp .quest {
    bottom: 20px;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: _1ks3b;
    -moz-animation-name: _1ks3b;
    -o-animation-name: _1ks3b;
    animation-name: _1ks3b;
    line-height: 0;
}

#divHelp .quest .btnHelp {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
    line-height: 0;
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out,-moz-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out,-moz-box-shadow .3s ease-in-out;
}

#divHelp .btnHelp {
    padding: 0;
    border: 0;
    font-size: 13px;
    text-align: centre;
}

#divHelp .quest.info .spn-btn {
    float: right;
}

#divHelp .spn-btn {
    display: block;
    padding: 15px;
}

#divHelp .spn-btn svg {
    width: 30px!important;
    height: 30px!important;
    fill: #fff;
}

#divHelp .yell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

svg:not(:root) {
    overflow: hidden;
}

@media screen and (min-width: 1025px){
    .header-top .col-logo {
        max-width: 5%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 5%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 5%;
        flex: 0 0 5%;
    }
}

@media screen and (min-width: 1025px){
    .container-header {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 1025px){
    .header-logo, .header-hide-logo {
        height: 39px;
    }
}


@media screen and (min-width: 1025px){
    .header-top .open-account {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0;
        line-height: 2.5rem;
        text-align: center;
    }
}


@media screen and (min-width: 1025px){
    .header-hide-logo {
        display: none !important;
    }
}



@media screen and (min-width: 1025px){
    .col-singup {
        max-width: 14.5%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 14.5%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 14.5%;
        flex: 0 0 14.5%;
    }
}

@media screen and (min-width: 1025px){
    .header-top .col-singin {
        max-width: 11%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 11%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 11%;
        flex: 0 0 11%;
    }
}

@media screen and (min-width: 1025px){
    .header-top .col-menu {
        z-index: 1;
    }
}

@media screen and (min-width: 1200px){
    .princ {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 992px){
    .princ {
        padding-top: 85px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1025px){
    .header-top  .login {
        font-size: .875rem;
    }
}

@media screen and (min-width: 1025px){
    .li-menu:hover:before {
        width: -webkit-calc(100% - 11px);
        width: -moz-calc(100% - 11px);
        width: calc(100% - 11px);
    }
}

@media screen and (min-width: 1025px){
    .setagira:hover:after {
        -webkit-transform: rotate(45deg) translate(-1px,-3px);
        -moz-transform: rotate(45deg) translate(-1px,-3px);
        -ms-transform: rotate(45deg) translate(-1px,-3px);
        -o-transform: rotate(45deg) translate(-1px,-3px);
        transform: rotate(45deg) translate(-1px,-3px);
    }
}
@media (min-width: 0px) {
    .gridcol {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1024px) {
    .gridcol {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
}



@media screen and (min-width: 1200px){
    .leftcol {
        padding: 0 30px;
    }
}

@media screen and (min-width: 992px){
    .left-header {
        margin-bottom: 64px;
        position: relative;
        top: -45px;
    }
}

@media screen and (min-width: 768px){
    .title {
        font-size: 47px;
        line-height: 72px;
    }
}

@media screen and (min-width: 768px){
    .subtitle {
        font-size: 19.5px;
        position: relative;
        top: -22px;
        letter-spacing: normal;
    }
}

@media only screen and (min-width: 1366px){
    .conteu {
        max-width: 1224px;
        margin: 0px auto;
    }
}


@media only screen and (min-width: 1366px){
    .soma-container {
        max-width: 1224px;
        margin: 0px auto;
    }
}

@media screen and (min-width: 768px){
    .sobre-xp-main {
        margin: 120px 0;
    }
}

@media screen and (min-width: 768px){
    .header-xp {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px){
    .stl-h1 {
        font-size: 48px;
    }
}